.sign-blogs-search-wrapper{
    min-height: 350px;
    background-color: #f1f1f1a8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-blogs-search-wrapper .sign-blogs-search-inner{
    max-width: 1440px;
    margin: 0px auto;
    width: 100%;
}
.fields-wrapper.fields-flex{
    max-width: 80%;
    margin: 0px auto;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;   
}
.fields-wrapper.fields-flex input{
    border: none;
}
.fields-wrapper.fields-flex button{
    width: 100%;
    max-width: 42px;
    background-color: #b60521;
    border: none;
    color: #fff;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}
.sign-blogs-wrapper .sign-blogs-inner{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    margin: 0px auto;
}
.nogray{
    filter: grayscale(0)!important;
}
.sign-blogs-wrapper .sign-blogs-inner .blog-card-wrapper{
    max-width: 32%;
    /* margin-bottom: 35px; */
    width: 100%;
    padding: 10px 10px;
    /* border: 1px solid #f1f1f1; */
    cursor: pointer;
}
.sign-blogs-wrapper .sign-blogs-inner .blog-card-wrapper .blog-card-inner{
    /* filter: grayscale(1); */
}
.sign-blogs-wrapper .sign-blogs-inner .blog-card-wrapper .blog-card-inner:hover{
    /* filter: grayscale(0); */
}
.splide.team-slider img{
    /* filter: grayscale(1); */
    border: 0.5px solid #fff;
}
.splide.team-slider img:hover{
    filter: grayscale(0);
}
.sign-blogs-wrapper .sign-blogs-inner .blog-card-wrapper img{
    max-width: 100%;
    height: 260px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.sign-blogs-wrapper .sign-blogs-inner .blog-card-wrapper div.image{
    /* overflow: hidden; */
    transition: all 0.5s ease-in-out;
}

.sign-blogs-wrapper .sign-blogs-inner .blog-card-wrapper:hover img{
    transform: scale(1.02);
}
/* .sign-blogs-wrapper .sign-blogs-inner .blog-card-wrapper:hover div.image{
    filter: drop-shadow(154px 178px 94px rgba(0, 0, 0, 0.01)) drop-shadow(87px 100px 79px rgba(0, 0, 0, 0.03)) drop-shadow(39px 44px 59px rgba(0, 0, 0, 0.04)) drop-shadow(10px 11px 32px rgba(0, 0, 0, 0.05)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.05));
    overflow: hidden;
    border-radius: 3px;    
} */
.sign-blogs-wrapper .sign-blogs-inner .blog-card-wrapper .context h3{
    /* font-size: 18px; */
    /* font-weight: 900; */
    /* text-align: left; */
    /* margin-top: 15px; */
}
.sign-blogs-wrapper .sign-blogs-inner .blog-card-wrapper .context hr{
    margin: 5px 0px;
    border-color: #f1f1f11f;
}

.sign-blogs-wrapper .sign-blogs-inner .blog-card-wrapper .context p{
    text-align: left;
    font-size: 16px;
    font-weight: 100;
}
.blog-details{
    padding: 54px 0px;
}
.blog-details .blog-content-box{
    max-width: 900px;
    padding: 0px 25px;
    margin: 0px auto;
}
.blog-details .blog-content-box img{
    max-width: 100%;
    width: 100%;
}
.blog-content-box .blog-title{
    font-size: 35px;
    margin-bottom: 20px;
    text-align: left;
    padding: 15px;
    background: #b60521;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
}
.blog-description > *{
    margin: 15px 0px;
}
.blog-description iframe{
    width: 100%;
}
.blog-description oembed{
    display: none;
}
.blog-description > p{
    font-size: 18px;
}
.blog-description figure, .blog-description figure img{
    max-width: 100%;
}

@media (max-width: 1024px){
    .blog-content-box .blog-title{
        font-size: 30px;
    }
    .sign-blogs-wrapper .sign-blogs-inner .blog-card-wrapper{
        max-width: 48%;
    }
    .sign-blogs-wrapper .sign-blogs-inner .blog-card-wrapper img {
        max-width: 100%;
        height: 210px;
    }
    .blog-details {
        padding: 30px 0px;
    }
}

@media (max-width: 767px){
    
    .blog-content-box .blog-title{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .blog-description > p {
        font-size: 16px;
    }
    .sign-blogs-search-wrapper {
        min-height: 160px;
    }
    .sign-blogs-wrapper .sign-blogs-inner .blog-card-wrapper .context h3 {
        /* font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px; */
    }
    .sign-blogs-wrapper .sign-blogs-inner .blog-card-wrapper {
        max-width: 100%;
        /* margin-bottom: 15px; */
    }
}