
.howsewingworks-inner {
  /* display: flex; */
  /* justify-content: space-between; */
}
.howsewingworks-inner .howsewingworksbox {
  width: 100%;
  position: relative;
  max-width: 32%;
}
.ck.ck-color-table{
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
.login-screen-wrapper{
  left: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  background-color: #f1f1f1;
}
.login-screen-wrapper .login-screen-inner{
  max-width: 340px;
  background-color: #fff;
  width: 100%;
  padding: 40px 20px;
  border-radius: 5px;
}
#error-welcome{
  text-align: center;
  font-size: 16px;
}
.thankyou-page-wrapper{
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-screen-inner .formctas{
  justify-content: center;
}
.login-screen-wrapper .login-screen-inner .logo{
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
}
.ck .ck-button.ck-color-table__remove-color{
  max-width: 100%;
}
.dropzonearea .dropzonepreview {
  max-width: 225px;
  /* height: 200px; */
  margin: 6px auto 6px 0px;
  /* border-radius: 100%; */
  overflow: hidden;  
}
.dropzonearea .dropzonepreview > img{
  max-width: 100%;
}
.credit-wrapper + svg{
  position: absolute;
  bottom: 0;
  z-index: -1;
  transform: rotate(-90deg);
  display: none;
}
.credit-wrapper + svg > path{
  fill: #b60521;
}
/* .howsewingworks-inner .howsewingworksbox:not(:last-child):before {
  content: "";
  position: absolute;
  width: 70%;
  border-top: 2px dashed #7D8CA3;
  opacity: 0.4;
  top: 12px;
  left: 48px;
} */
.howsewingworks-inner .howsewingworksbox p {
  text-align: justify;
  /* line-height: 180%; */
  /* font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #36311F;
  font-family: 'Open Sans', sans-serif; */
}
.grayit{
  filter: grayscale(1);
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.nograyit{
  filter: grayscale(0);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.howsewingworks-inner .howsewingworksbox h2 {
  /* font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  color: #36311F;
  margin-top: 14px;
  margin-bottom: 5px;
  font-family: Open Sans; */
}
/* .project-completed-wrapper {
 
} */
section.hero {
  margin: 0px auto 50px auto;
}
.hero-wrapper {
  /* background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ); */
    /* url(./hero-image.jpg); */
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.images-gallery-box{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.images-gallery-box > .single-image{
  /* max-width: 33%;
  width: 100%;
  height: 200px;
  border: 1px solid #fff;
  overflow: hidden; */

  max-width: 25%;
  width: 100%;
  /* height: 200px; */
  /* border: 1px solid #fff; */
  overflow: hidden;
  padding: 1px;
}
.images-gallery-box > .single-image img{
  max-width: 100%;
  width: 100%;
  height: 100%;
  /* filter: grayscale(1); */
  cursor: pointer;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.images-gallery-box > .single-image:hover img{
  filter: grayscale(0);
  transform: scale(1.1);
}
.bg-gray{
  background-color: #fbf9f98c;
}
.images-gallery-inner{
  max-width: 1440px;
  /* padding: 0px 25px; */
  margin: 25px auto;
}
.testimonial-slider-wrapper{
  width: 100%;
  margin-top: 0px;
  position: relative;
  background-color: #fbf9f98c;
}
.testimonial-slider-wrapper ul li{
  background: #fff;
}
.testimonial-slider-wrapper > svg{
  position: absolute; 
}
.testimonial-slider-wrapper > svg.halfcurve{
  bottom: 0;
}
.testimonial-slider-wrapper > svg.halfcircle{
  right: 0px;
}
.testimonial-slider-wrapper > svg > path{
  fill: #b60521
}
.testimonial-slider-wrapper .testimonial-slider{
  max-width: 768px;
  margin: 0px auto;
}
.testimonial-slider-wrapper .outer-slide-testimonial img{
  display: block;
  margin:0px auto;
}
.testimonial-slider-wrapper .splide__arrow{
  background-color: #b60521;
  height: 40px;
  width: 38px;
  padding: 0px;
  border-radius: 100%;
  opacity: 1;
}
.splide.stories-slider:hover .splide__arrow{
  background-color: #b60521;
  opacity: 1;
}
.stories-slider .splide__arrow{
  background-color: #000;
  height: 55px;
  width: 55px;
  padding: 0px;
  border-radius: 100%;
}

.floating-items{
      /* align-items: center; */
      position: fixed;
      top: calc(50vh - 113px);
      /* padding: 0px 10px; */
      z-index: 4;
      /* display: flex; */
      /* justify-content: center; */
      /* bottom: 0; */
      /* display: flex; */
      /* margin: 0px auto; */
}
.floating-items-inner svg{
  max-width: 30px;
  height: 30px;
}
.floating-items .floating-items-inner{
  display: flex;
  flex-direction: column;
}
.floating-items .floating-items-inner > a{
  margin-bottom: 15px;
  cursor: pointer;
  padding: 0px 12px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
.floating-items .floating-items-inner > a:hover span.onhover{
  opacity: 1;
  width: auto;
  height: auto;
}
.floating-items .floating-items-inner a > span:not(.onhover){
  background-color: #b60521;
  display: inline-flex;
  width: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}
.floating-items .floating-items-inner a > span:not(.onhover) svg path{
fill: #fff;
}
.floating-items .floating-items-inner span.onhover{
  opacity: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
  color: #b60521;
  pointer-events: none;
  margin-left: 15px;
  transition: all 0.2s ease-in-out;
}

.floating-items .floating-items-inner > div:hover span.onhover{
  opacity: 1;
  width: auto;
  height: auto;
  overflow: auto;
}
.floating-items .floating-items-inner > div:hover span.onhover a{
  font-size: 16px;
  text-decoration: none;
  font-weight: 800;
  color: #b60521;
  letter-spacing: 0.9px;

}
.testimonial-slider-wrapper  .splide__arrow svg {
  fill: #fff;
  height: 10px;
  width: 10px;
}
.stories-slider .splide__arrow svg{
  fill: #fff;
  height: 15px;
  width: 15px;
}
.testimonial-slider-wrapper 
.testimonial-slider-wrapper .splide__track{
  max-width: 500px;
  margin:0px auto;
}

div.read-more-link{
  width: 100%;
}

.team-wrapper .our-people-cta{
  margin: 10px auto;
  text-align: center;
}
.howsewingworks-wrapper{
  /* max-width: 1220px; */
  /* width: 100%; */
  /* margin: 70px 0px 0px; */
}
.about-us{
  background-color: #fbf9f98c;
}
/* .services-wrapper, .top-stories, .about-us, .footer-wrapper{
  padding: 35px 0px;
} */
/* .hero-text .read-more {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 25px auto 32px;
  font-family: "Courier Prime", monospace;
  color: #b60521 !important;
} */
ul > li.outer-slide .inner-slide:not(:last-child){
  margin-bottom: 25px;
}
/* ul > li.outer-slide:nth-child(odd) .inner-slide:not(:last-child){
  margin-bottom: 25px;
} */
/* .outer-slide{
  padding: 10px 10px;
}
.services-slider ul{
  align-items: center;
}
.outer-slide > .inner-slide{
  background-color: #ffff;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 6%), 0 2px 24px 2px rgb(0 0 0 / 4%);
} */
.outer-slide > .inner-slide img{
  max-width: 100%;
  height: 260px;
  width: 100%;
  object-fit: cover;
  /* filter: grayscale(1); */
}

/* .outer-slide > .inner-slide:hover img{
  filter: grayscale(0);
  transform: scale(1.1);
} */

/* .outer-slide > .inner-slide p{
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
} */

.project-completed-wrapper {
  min-height: 258px;
  color: black;
  display: flex;
  /* z-index: 5; */
  margin: 35px 0px;
  position: relative;
}
.project-completed-wrapper.about-page.contact-page{
  position: relative;
  z-index: 2;
  right: 0;
  margin: 0px 0px 0px auto;
  max-width: 50%;
}
.project-completed-wrapper.contact-page .login-info .red-box{
  background-color: #fff;
}
.project-completed-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  align-items: center;
  position: relative;
}
.project-completed-wrapper::before{
  content: "";
  position: absolute;
  height: 70%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(//res.cloudinary.com/signaramatoronto/image/upload/v1663498430/BLOGSIMAGES/image0-min1663498427510.jpg);
  opacity: 0.4;
  filter: blur(6px);
  bottom: 0;
  top: 0;
  margin: auto;
}
.compl-project {
  max-width: 380px;
}
.compl-number {
  font-weight: 700;
  max-width: 100%;
  font-size: 120px;
  margin: 10px 0;
  color: #b60521 !important;
  line-height: 1.1;
  padding: 0px 20px;
  font-family: "Titillium Web", sans-serif;
}
.compl-project h2 {
  margin: 20px;
  position: relative;
  font-weight: 700;
  /* font-family: "Titillium Web", sans-serif; */
  font-size: 32px;
  line-height: 1.1;
}

.compl-project p {
  margin: 18px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
}
.abt-descp p{
  margin-bottom: 15px;
  margin-top: 0px;
}
.wally-section{
  max-width: 360px;
  width: 100%;
  margin: 20px auto;
  filter: grayscale(1);
}
.wally-section:hover{
  filter: grayscale(0);
}
.wally-section .nameandlinked{
  display: flex;
  align-items: center;
  justify-content: center;
}
.wally-section .nameandlinked img{
  max-width: 30px;
  width: 100%;
  margin-left: 10px;
}
.wally-section .designation{
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
  font-size: 18px;
}
.wally-section .designation span.wally-desig{
  font-size: 85%;
  opacity: 0.8;
}
.wally-section > img{
  max-width: 100%;
  border-radius: 100%;
  display: block;
  margin: auto;
}
.login-info {
  display: flex;
  flex-direction: column;
  max-width: 380px;
}
.highlighted {
  color: var(--red-bg);
}

.login-info h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1;
}
.uplifted-content {
  min-height: 158px;
  height: auto;
  background-image: none;
  margin: -119px auto 0 0;
  color: #ffffff;
  background-color: #333333;
}

.login-info p {
  color: #000;
  font-style: normal;
  font-size: 18px;
}
.login-info .red-box{
  background-color: #fff;
  /* border: 1px solid #000; */
  padding: 20px;
}

/* services section  */
.section-heading{
  padding: 0px 0px 35px 0px;
}
.team-wrapper{
  /* padding: 35px 0px; */
}
.team-wrapper .outer-slide{
  padding: 0px 0px;
}
.team-wrapper .outer-slide .team-image{
  overflow: hidden;
}
.team-wrapper .outer-slide .team-image:hover img{
  transform: scale(1.1);
}
.section-heading-award p {
  text-align: center;
  max-width: 80%;
  /* font-size: 18px; */
  margin: 0px auto;
  /* font-weight: 100; */
  line-height: 180%;  
  text-align: center;
  margin-bottom: 25px;
}
.section-heading p{
  text-align: center;
  max-width: 52%;
  /* font-size: 18px; */
  margin: 0px auto;
  /* font-weight: 100; */
  line-height: 180%;
}
.section-heading-award h1{
  width: 100%;
  max-width: 100%;
  margin: 0 auto 15px;
  font-size: 35px;
  margin-left: 0px;
}
.section-heading h1 {
  width: 100%;
  max-width: 100%;
  margin: 0 auto 15px;
  font-size: 35px;
  margin-left: 0px;
}
section.our-services {
  margin: 50px auto;
  min-height: 823px;
}
.gallery-item {
  position: relative;
  overflow: hidden;
}
.our-services-content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
  height: 940px;
}
.our-services-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
  position: absolute;
}

.img-single-content {
  background: linear-gradient(5.11deg, #b60521 1.46%, rgba(2, 3, 0, 0) 40.56%);
  height: 100%;
  bottom: -100%;
  position: absolute;
  left: 0;
  right: 0;
  transition: all 0.3s ease;
}
.our-services-content img:hover .img-single-content {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
  font-family: "Open Sans";
  transform: scale(1.089);
  cursor: pointer;
}

/* .gallery-item[data-item|="3"] {
  object-position: 50% 19.85%;
} */

.learn-more-btn {
  color: #ffffff;
  background-color: #b60521;
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 43px auto 60px;
  padding: 19px 69px 20px 68px;
  border-radius: 50px !important;
  display: table;
  cursor: pointer;
  transition: 0.5s all ease;
}
.learn-more-btn:hover {
  background-color: transparent;
  border: 1px solid #b60521;
}
.learn-more-btn:hover a {
  color: #b60521;
}
.learn-more-btn a {
  text-decoration: none;
  color: white;
}

/* services section ends  */

/* top stories */
.carousel-wrapper {
  width: 100%;
  min-height: 700px;
  padding: 25px 0px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #f1f1f1;
  transition: transform 0.6s ease;
  /* background-size: cover; */
  position: relative;
  
}
.splide.stories-slider{
  filter: grayscale(1);
}
.splide.stories-slider:hover{
  filter: grayscale(0);
}
.carousel-wrapper .carousel-bg-image{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
}
.carousel-content {
  height: 100%;
  display: flex;
  align-items: center;
}
.u-container-layout {
  display: flex;
  flex-direction: column;
}
.u-container-layout * {
  max-width: 100%;
}

.u-container-layout > * {
  position: relative;
}
.u-image.u-image-contain {
  object-fit: contain;
  background-size: contain;
  margin-top: 110px;
}
.u-image {
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.u-image-1 {
  height: 316px;
}
.u-container-layout .story-wrapper{
  max-width: 768px;
  margin: 0px auto;
  border-radius: 6px;
  overflow: hidden;
}
.u-container-layout .story-wrapper .story-title-wrapper{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.u-container-layout .story-wrapper h2.story-title{
  background-color: #21283696;
  padding: 15px 15px;
  text-align: center;
  color: #fff;
  /* margin-top: 10px; */
  font-size: 32px;
  /* border-radius: 3px 3px; */
}
.u-image-2 {
  
  /* object-position: 31.67% 50%; */
  /* background-position: 31.67% 50%; */
  /* margin: -427px auto -2px; */
}
.u-border-palette-5-base {
  border-color: #ffffff36;
  border-radius: 3px;
}
.u-border-16 {
  /* border-width: 16px;
  border-style: solid; */
}
/* top stories */

/* about-us  */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.wally-wrapper {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1440px;
  padding: 0px 25px;

  justify-content: space-between;
  margin: 0px auto;
}
.wally-wrapper .abt-descp{
  text-align: center;
  line-height: 180%;
  font-size: 16px;
}
.wally-wrapper > div{
  max-width: 100%;
  width: 100%;
}
.owner-img {
  position: relative;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
}
.owner-img-1 {
  max-width: 100%;
  object-fit: cover;
  height: 863px;
  margin: -899px 0 0 56px;
}
.rectangle-shape {
  width: 100%;
  max-width: 70%;
  margin-left: auto;
  height: 660px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #b60521;
  position: relative;
}
.rectangle-shape::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  background-position: -28px;
  background-size: cover;
  height: 100%;
  background-image: url('/images/Wally.png');
  filter: brightness(1.4) contrast(1);
  left: -70px;
  top: 0px;
  border-radius: 5px;
}
/* .abt-descp {
  padding: 40px 0 40px 0;
  min-height: 366px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.pagination button{
  border: none;
  background-color: #b60521;
  color: #fff;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 3px;
}

.info-text-2 {
  font-weight: 300;
  margin: 20px 60px 0 0;
  font-style: italic;
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination > button{
  margin: 0px 15px;
  
}
.meet-our-team {
  display: flex;
}
.team-content {
  padding: 60px 30px 30px;
  position: relative;
}
.content-box {
  width: 638px;
  min-height: 276px;
  background-image: none;
  box-shadow: 10px 11px 40px 0 rgb(41 46 51 / 25%);
  height: auto;
  margin: 0 0 0 -147px;
  padding: 30px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.content-box h1 {
  font-size: 4.5rem;
  font-style: normal;
  margin: 0;
  font-weight: 600;
  line-height: 1.1;
}
.circle-shape {
  width: 200px;
  height: 200px;
  background-image: none;
  margin: 66px 0 0 254px;
  border-radius: 50%;
  background-color: #b60521;
}

@media (max-width:900px){
  .images-gallery-box > .single-image{
    max-width: 48%;
  }
}
@media (max-width:767px){
  /* .images-gallery-box > .single-image{
    max-width: 100%;
  } */
}
