@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Roboto+Flex:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// :root{
//     --black-bg: #020100;
//     --card-bg: #020100;
//     // --red-bg: #FF0000;
//     --red-bg: #c3122f;
//     --white-font: #F0F0F0;
//     --btn-color: #F0F0F0;
//     --lite-font: #6f6f6f;
//     --btn-hover: #020100;
//     --dark-bg: #161514;
// }
:root{
    --black-bg: #F0F0F0;
    --card-bg: #e4e4e4;
    // --red-bg: #FF0000;
    --red-bg: #c3122f;
    --white-font: #020100;
    --lite-font: #525252;
    --btn-color: #F0F0F0;
    --btn-hover: #F0F0F0;
    --dark-bg: #d8d8d8;
    --dark-bg-text: #F0F0F0;
    --lite-bg-text: #020100;
}
@keyframes MoveUpDown {
    0%, 100% {
      margin-bottom: 0;
    }
    50% {
      margin-bottom: 30px;
    }
  }
.parallax-background{
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-attachment: fixed;
    height: 100%;
    background-image: url("/newimages/circlevector.svg");
    /* background-size: cover; */
    background-position: center;
    /* transform: translateZ(-1px) scale(2); */
    z-index: -1;
}
.wavepattern{
    background: #fff;
    background-image: url(/newimages/menubg.svg);
    background-position: center 30%;
    background-size: cover;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Open Sans", sans-serif;

  }
  h3{
    font-size: 16px;
  }
  body.no-scroll{
    overflow: hidden;
  }
  p, a {
    color: var(--lite-font);
    font-weight: 300;
    line-height: 22px;
    font-size: 15px;
    // line-height: ;
  }
  h1,h2,h3,h4,h5{
    color: var(--lite-font);
  }
  h1{
    font-size: 60px;
    line-height: 60px;
    color: var(--white-font);
}
  .pulse {
    animation: pulse-animation 2s infinite;
  }
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgb(166 41 39 / 73%);
    }
    100% {
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  }
div#__next{
    // max-width: 1440px;
    width: 100%;
    margin: 0px auto;
}
body{
    background-color: var(--black-bg);
    .full-width{
        max-width: 100%;
    }
    .bg-white{
        background: #fff;
    }
    .splide__arrow{
        background: var(--dark-bg);
        border-radius: 0px;
        border: 1px solid rgba(192, 191, 191, 0.3882352941);
        height: 44px;
        width: 44px;
    }
}

.font-thin{
    font-weight: 100!important;
}
.font-thick{
    font-weight: 400!important;
}
.font-bold{
    font-weight: 700!important;
}

.font-bolder{
    font-weight: 900!important;
}
.d-padding{
    padding: 120px 64px;
}

.d-padding-l{
    padding-left: 64px;
}
.d-padding-r{
    padding-right: 64px;
}
.d-padding-t{
    padding-top: 120px;
}
.d-padding-b{
    padding-bottom: 120px;
}
.d-padding-120{
    padding: 120px;
}
.d-padding-64{
    padding: 64px;
}
.d-padding-120-t{
    padding-top: 120px;
}
.d-padding-120-b{
    padding-bottom: 120px;
}
.d-padding-120-l{
    padding-left: 120px;
}
.d-padding-120-r{
    padding-right: 120px;
}
.d-padding-64-t{
    padding-top: 64px;
}
.d-padding-64-b{
    padding-bottom: 64px;
}
.d-padding-64-l{
    padding-left: 64px;
}
.d-padding-64-r{
    padding-right: 64px;
}
.header-wrapper {
    padding: 24px 64px;
    z-index: 2;
    position: fixed;
    top: 0;
    top: 0;
    left: 0;
    right: 0;
    &.scrolled{
        // background: var(--black-bg);
        padding: 15px 54px;
        // transition: all 0.3s ease-in;
        .header-inner{
        background: linear-gradient(to left, #ffffff 42%, var(--black-bg) 50%);
        box-shadow: 0 5px 15px #0000004f;
        padding: 9px 10px;
        }
    }
}
.d-column-gap{
    column-gap: 1.25%;   
}
.d-row-gap{
    row-gap: 20px;  
}
.big-row-gap{
    row-gap: 48px;
}
.s-margin{
    margin: 12px;
}
.s-margin-l{
    margin-left: 12px;
}
.s-margin-r{
    margin-right: 12px;
}
.s-margin-t{
    margin-top: 12px;
}
.s-margin-b{
    margin-bottom: 12px;
}

.d-margin{
    margin: 24px;
}
.d-margin-l{
    margin-left: 24px;
}
.d-margin-r{
    margin-right: 24px;
}
.d-margin-t{
    margin-top: 24px;
}
.d-margin-b{
    margin-bottom: 24px;
}

.l-margin{
    margin: 48px;
}
.l-margin-l{
    margin-left: 48px;
}
.l-margin-r{
    margin-right: 48px;
}
.l-margin-t{
    margin-top: 48px;
}
.l-margin-b{
    margin-bottom: 48px;
}

.d-margin-auto{
    margin: auto;
}
.d-margin-auto-l{
    margin-left: auto;
}
.d-margin-auto-r{
    margin-right: auto;
}
.d-margin-auto-t{
    margin-top: auto;
}
.d-margin-auto-b{
    margin-bottom: auto;
}
.d-flex{
    display: flex;
}
.d-inline-flex{
    display: inline-flex;
}
.d-flex-center{
    justify-content: center;
    align-items: center;
}
.d-flex-between{
    justify-content: space-between;
    align-items: center;
}
.d-flex-around{
    justify-content: space-around;
    align-items: center;
}
.d-flex-start{
    justify-content: flex-start;
    align-items: center;
}
.d-flex-end{
    justify-content: flex-end;
    align-items: center;
}
.d-flex-column{
    flex-direction: column;
}
.d-flex-column-reverse{
    flex-direction: column-reverse;
}
.d-flex-row-reverse{
    flex-direction: row-reverse;
}
.d-flex-row{
    flex-direction: row;
}
.d-flex-wrap{
    flex-wrap: wrap;
}
.d-flex-wrap-reverse{
    flex-wrap: wrap-reverse;
}
.d-flex-nowrap{
    flex-wrap: nowrap;
}
.d-flex-1{
    flex: 1;
}
.d-flex-align-start{
    align-items: flex-start;
}
.serv-detail-text img{
    max-width: 100%;
    border-radius: 10px;
  }
.hero-outer-space{
    &.sign-ind-page{
        overflow: unset;
        .hero-inner-space{
            .hero-text{
                position: sticky;
                top: 90px;
            }
        }
    }
    &.illustrationbg{
        background-image: url(/newimages/menubg.svg);
        background-position: center 18%;
        background-size: cover;
    }
    .map-iframe{
        border-radius: 5px;
    }
    .illustration{
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.6;
        height: 100%;
        bottom: 0;
        object-fit: contain;
        // transform: translate(30%, 0px);
        img{
            height: 100%;
            width: 100%;
        }
    }
    .hero-inner-space{
        .hero-text{
            max-width: 49%;
            width: 100%;
            position: relative;
            z-index: 1;
            >h1{
 
            }
            >p{
                color: var(--lite-font);
                font-size: 15px;
                line-height: 22px;
                font-weight: 300;
            }
        }
        .hero-image{
            width: 100%;
            max-width: 49%;
            height: 90%;
            position: absolute;
            right: 0;
            top: auto;
            bottom: 0; 
            // background: url(/newimages/canadathemebg2.png);
            // background-size: contain;
            // background-position: center;
            // background-repeat: no-repeat;
            img{
                width: 100%;
                max-width: 100%;
                object-fit: contain;
                // height: 100%;
                // object-fit: cover;
            }
        }
        
        +*{
            position: relative;
            z-index: 1;
        }
    }
    &.about-us{
        .hero-inner-space{
            .hero-text{
                max-width: 32%;
                &.full-width{
                    max-width: calc(100% - 35%);
                }
            }
        }
    }
}
.building-outer-space{
    background-color: var(--red-bg);
    position: relative;
    overflow: hidden;
    .illustration{
        display: none;
        position: absolute;
        top: auto;
        right: 0;
        height: 100%;
        left: 0;
        bottom: 0;
        margin: auto;
        -o-object-fit: contain;
        object-fit: contain;
        /* transform: translate(30%, 0px); */
    }
    .building-outer-space-text{
        max-width: 1024px;
    margin: 0px auto;
    >h1{
        color: var(--dark-bg-text);
        text-align: center;
    }
    >h2{
        color: var(--dark-bg-text);
        text-align: center;
    }
    &.red-section{
        h2{
            text-align: justify;
            padding-left: 100px;
        }
    }
    >p{
        color: var(--dark-bg-text);
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
        text-align: center;
    }
    .btn-wrapper.outline button.btn-component{
        color: var(--dark-bg-text);
        border-color: var(--dark-bg-text);
    }
    }
    .ratings{
        max-width: 600px;
        width: 100%;
        margin: 0px auto;
        img{
            max-width: 100%;
        }
    }
}
.building-something-outer-space{
    .building-outer-space-text{
        width: 100%;
        max-width: 100%;
        margin: 0px auto;
        background: var(--red-bg);
        padding: 50px 20px;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
    >h1{
        color: var(--dark-bg-text);
        text-align: center;
            font-size: 42px;
            line-height: 48px;
    }
    >p{
        color: var(--lite-font);
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
        text-align: center;
    }
    .illustration{
        position: absolute;
        height: 100%;
        img{
            height: 100%;
        }
        &.il1{
            top: 0;
            left: 0;
            right: auto;
            transform: translate(-30%, -32%);
        }
        &.il2{
            right: 0;
            bottom: 0;
            top: auto;
            transform: translate(50%, 30%);
        }
    }
    
    }
    .ratings{
        max-width: 600px;
        width: 100%;
        margin: 0px auto;
        img{
            max-width: 100%;
        }
    }
}
.services-outer-space{
    position: relative;
    .services-outer-space-text{
        max-width: 768px;
        margin: 0px auto;
        >h1{
            color: var(--white-font);
            text-align: center;
        }
        >h2{
            text-align: center;
        }
        >p{
            color: var(--lite-font);
            font-size: 15px;
            line-height: 22px;
            font-weight: 300;
            text-align: center;
        }
        
    }
    .sign-types{
        background: var(--dark-bg);
        padding: 6px 6px;
        border-radius: 4px;

        // >div{
        //     flex: 1;
        // }
    }
    .services-box{
        // padding: 10px 0px;
        border: 1px solid transparent;
        transition: all .3s ease-in-out;
        &.active{
            border: 1px solid var(--red-bg);
        }
    }
}
.outer-slide{
    padding: 24px;
    border: 1px solid rgba(241, 241, 241, 0.168627451);
    border-radius: 4px;
    background: var(--card-bg);
    /* padding: 5px 10px; */
    &:not(.nohoveeffect){
        &:hover{
            transition: all .3s ease-in-out;
            .inner-slide{
                margin-top: -10px;
                .sign-name{
                    >p{
                        color: var(--red-bg);
                    }
                    +div{
                        a:not(.btn-component){
                            color: var(--red-bg);
                        }
                    }
                }
            }
        }
    }
    
    .inner-slide{
        height: 100%;
        position: relative;
        transition: all .3s ease-in-out;
        .sign-name{
            padding: 20px 0px 20px;
            p{
                font-weight: 500;
                font-size: 16px;
                color: var(--white-font);
                line-height: 20px;
            }
            .sign-description{
                *{
                    color: var(--lite-font);
                    font-weight: 300;
                    font-size: 15px;
                }
            }
        }
        img{
            border-radius: 10px;
        }
    }
  }
footer.footer-wrapper>.footer-inner .footer-section-heading {
    >h2{
        color: var(--lite-bg-text);
        font-weight: 400;
        font-size: 18px;
        >span{
            color: var(--red-bg);
            font-weight: 400;
            font-size: 18px;
        }
    }
}
.splide__arrows{
    &:not(.cstm){
        display: none;
    }
    &.cstm{
        column-gap: 12px;
        .splide__arrow{
            position: unset;
            background: var(--dark-bg);
            opacity: 1;
            transform: translate(0);
            border-radius: 0px;
            border: 1px solid #c0bfbf63;
            height: 44px;
            width: 44px;
        }
    }
}
.ab-image{
    max-width: 200px;
    position: absolute;
    transform: rotate(20deg);
    opacity: 0.3;
    border-radius: 3px;
    overflow: hidden;
    img{
        max-width: 100%;
        width: 100%;
    }
}
.news-outer-space{
    .learn-more{
        p{
            color: var(--lite-font);
            font-size: 15px;
            line-height: 22px;
        }
        a{
            color: var(--white-font);
            font-weight: 700;
        }
    }
}
.faq-cards{
    .d-flex{
        row-gap: 24px;
    }
    .faq-cards-item{
        max-width: 49%;
        width: 100%;
        padding: 24px;
        border: 1px solid rgba(241, 241, 241, 0.168627451);
        border-radius: 4px;
        background: var(--black-bg);
        h3{
            color: var(--white-font);
            font-weight: 400;
        }
        &.testimonial-item{
            column-gap: 12px;
            > div{
                &:first-child{
                    max-width: 100px;
                    width: 100%;
                    img{
                        max-width: 100%;
                        width: 100%;
                    }
                }
            }
            p{
                color: var(--white-font);
                font-weight: 300;
                text-align: justify;
            }
            span{
                display: inline-flex;
                color: var(--lite-font);
                font-weight: 300;
                // margin-top: 24px;
            }
        }
    }
}
.hero-slider{
    height: 100%;
    .splide__track, .splide__list {
        height: 100%;
    }
    .hero-outer-slide{
        .hero-inner-slide{
            height: 100%;
            >div{
                cursor: grab;
                overflow: hidden;
                height: 100%;
                column-gap: 20px;
                // padding-left: 20px;
                padding-top: 20px;
                img{
                    max-width: 90%!important;
                    max-height: 98%;
                    width: 100%;
                    margin: 0px auto;
                    border-radius: 4px;
                    /* border: 2px solid var(--red-bg); */
                    &:first-child{
                        transition: 0.3s linear;
                        // box-shadow: 0 10px 22px #0000004f;
                        animation: MoveUpDown 6s linear infinite;
                    }
                    &:last-child{
                        filter: drop-shadow(-7px 11px 6px #6f6f6f);
                        animation: MoveUpDown 8s linear infinite;
                    }
                }
            }
        }
    }
}
.contact-page-details{
    h1{
        font-size: 24px;
        line-height: 26px;
    }
    h2{
        font-size: 18px;
    }
}
.social-icons{
    .btn-wrapper{
        max-width: fit-content;
        button{
            span{
                display: inline-flex;
            }
            svg{
                height: 24px;
                width: 24px;
                path{
                    fill: var(--lite-bg-text);
                }
            }
            
        }
        &.outline{
            button{
                &.btn-component{
                    // border-color: var(--red-bg);
                }
            }       
        }
    }
}

.hero-text {
    ul {
        padding-left: 10px;
        li{
            margin-bottom: 12px;
            p{
                color: var(--lite-font);
                font-size: 15px;
                line-height: 22px;
                font-weight: 300;
            }
    }
}
}

.howsewingworks-inner {
    .howsewingworksbox{
        img{
            max-width: 120px;
            height: 120px;
            object-fit: contain;
            width: 100%;
            border-radius: 100%;
        }
    }
}

.signs-outer-space{
    .signs-inner-space{
        .signs-list{
            >div{
                max-width: 32%;
                width: 100%;
                >div{
                    line-height: 0px;
                }
                img{
                    max-width: 100%;
                    height: 260px;
                    width: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    border-radius: 10px;
                    overflow: hidden;
                }
                .sign-name{
                    padding: 20px 0px 20px;
                    line-height: inherit;
                }
            }
        }
    }
}